.orb-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.hero-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.hero-text-container {
    width: 30%;
    z-index: 1;
}

.hero-link-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-header {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.hero-link {
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    transition: 0.3s ease;
    display: inline-block;
}

.hero-link:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: translateY(-5px);
}