.orb-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.hero-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, transparent 0%, transparent 25%, rgba(0, 0, 0, 1) 35%);
    pointer-events: none;
    z-index: 10;
}

.hero-text-container {
    max-width: 800px;
    width: 90%;
    z-index: 15;
}

.hero-link-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-header {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
}