.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    height: 40px;
    width: 80vw;
    background: rgb(142 142 143 / 0%) !important;
    box-shadow: inset -3px 1px 6px rgb(255 255 255 / 35%), inset 3px 1px 4px rgb(255 255 255 / 44%);
    border-radius: 30px;
    margin: 0 auto;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar,
.navbar.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--silver);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    font-weight: 500;
    color: var(--silver);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.navbar-links a.active {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--silver);
    cursor: pointer;
    z-index: 1000;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.4);
    backdrop-filter: blur(2px);
    z-index: 998;
    transition: background 0.3s ease;
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
        height: 20px;
        width: 80vw;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background: var(--black);
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 2rem;
        margin: 0;
        gap: 1.5rem;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.4s ease;
        z-index: 999;
    }

    .navbar-links.show {
        transform: translateX(0);
        opacity: 1;
        margin: 0;
    }

    .navbar-links a {
        font-size: 1.2rem;
        width: 100%;
    }

    .navbar-links a:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
    }
}